
@model MyJobRepo.Models.MyJobRepo_Resources

<script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    function LoadContactTypesDropdown() {
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/ContactType',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                var optionhtml1 = '<option value="' +
                    0 +
                    '">' +
                    "--Select Contact Type--" +
                    '</option>';
                $("#contactTypeDropdown").append(optionhtml1);

                $.each(data,
                    function(i) {

                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#contactTypeDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadCompaniesDropdown() {
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Company',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                var optionhtml1 = '<option value="' +
                    0 +
                    '">' +
                    "--Select Company--" +
                    '</option>';
                $("#companyDropdown").append(optionhtml1);

                $.each(data,
                    function(i) {

                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#companyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function AddNewCompany() {
        var name = $("[name='companyName']").val();
        var link = $("[name='companyLink']").val();
        var description = $("#companyDescription").val();
        var dataToPost = {
            Name: name,
            Link: link,
            Description: description
        };

        //var dataToPost = "{'Name':'test'}";
        //dataToPost = $(this).serialize();
        $.ajax({
            type: "POST",
            url: 'http://@ViewBag.Host/API/Company',
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                LoadCompaniesDropdown();
            }
        });
    }

        //$("#form1").submit(function () {
        //    var jqxhr = $.post('api/company', $('#form1').serialize())
        //        .success(function () {
        //            var loc = jqxhr.getResponseHeader('Location');
        //            var a = $('<a/>', { href: loc, text: loc });
        //            $('#message').html(a);
        //        })
        //        .error(function () {
        //            $('#message').html("Error posting the update.");
        //        });
        //    return false;
        //});

    $(document).ready(function () {
        LoadContactTypesDropdown();
        LoadCompaniesDropdown();
    });

    @*
    function SelectedState(stateID) {
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/Default/Categories?stateID=' + stateID,
            contentType: "application/json; charset=utf-8",
            async: true,
            complete: function (msg) {
                $('.Content').html(msg.responseText)
            }
        });
    }
    function SelectedCategory(stateID, stateName, categoryID) {
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/Default/Topics?stateID=' + stateID + '&stateName=' + stateName + '&categoryID=' + categoryID,
            contentType: "application/json; charset=utf-8",
            async: true,
            complete: function (msg) {
                $('.Content').html(msg.responseText)
                $('#AdTopPlacement').html($('#AdTop').html())
                $('#AdTop2Placement').html($('#AdTop').html())
                //$('#AdRightPlacement').html($('#AdRight').html())
            }
        });
    }
    function SelectedTopic(stateID, stateName, topicID, categoryID, categoryTitle) {
        // Category is used in admin, so do not remove this parameter
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/Default/Details?stateID=' + stateID + '&stateName=' + stateName + '&topicID=' + topicID + '&categoryID=' + categoryID + '&categoryTitle=' + categoryTitle,
            contentType: "application/json; charset=utf-8",
            async: true,
            complete: function (msg) {
                $('.Content').html(msg.responseText)
                $('#AdTopPlacement').html($('#AdTop').html())
                $('#AdTop2Placement').html($('#AdTop2').html())
                //$('#AdRightPlacement').html($('#AdRight').html())
            }
        });
    }
    function Feedback(stateID, stateName, topicID, topicText) {
        var postData = {
            stateID: stateID,
            stateName: stateName,
            topicID: topicID,
            topicText: topicText
        }
        $.ajax({
            type: "POST",
            url: 'http://' + '@ViewBag.Host' + '/Default/Feedback',
            data: JSON.stringify(postData),
            contentType: "application/json; charset=utf-8",
            async: true,
            complete: function (msg) {
                $('.Content').html(msg.responseText)
            }
        });
    }
    function SuggestNewTopic(stateID, stateName, categoryID, categoryTitle) {
        // Submission
        topicText = $('#txtSuggestedTopic').val();
        postData = {
            stateID: stateID,
            stateName: stateName,
            categoryID: categoryID,
            categoryTitle: categoryTitle,
            topicText: topicText
        }
        $.ajax({
            type: "POST",
            url: 'http://' + '@ViewBag.Host' + '/Default/SuggestTopic',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(postData),
            async: true,
            complete: function (msg) {
                $('.Content').html(msg.responseText)
            }
        });
    }

    $("#form1").submit(function () {
        var jqxhr = $.post('api/updates/complex', $('#form1').serialize())
            .success(function () {
                var loc = jqxhr.getResponseHeader('Location');
                var a = $('<a/>', { href: loc, text: loc });
                $('#message').html(a);
            })
            .error(function () {
                $('#message').html("Error posting the update.");
            });
        return false;
    });
    *@

</script>

<style type="text/css">
    .dropdownStyle {
        height: 26px;
        width: 173px;
        border-color: #A9A9A9;
    }
</style>
    <div class="jumbotron">
        <h1>MyJobRepo</h1>
        <p class="lead">An exercise using Web API</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>New Company</h2>
            <form id="form1">
                <p>Name:<br /><input id="companyName" name="companyName" type="text" /><br /></p>
                <p>Link:<br /><input id="companyLink" name="companyLink" type="text" /><br /></p>
                <p>Description:<br /><textarea id="companyDescription"></textarea><br /></p>
                <p><button class="btn btn-default" type="submit" onclick="AddNewCompany()">Add</button></p>
            </form>
            </div>
        <div id="AjaxResponse"></div>
        <div class="col-md-3">
            <h2>New Contact</h2>
            <p>Name:<br /><input id="contactName" name="contactName" type="text" /><br /></p>
            <p>Type:<br /><select id="contactTypeDropdown" class="dropdownStyle"></select><br /></p>
            <p>Company:<br /><select id="companyDropdown" class="dropdownStyle"></select><br /></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Add</a></p>
        </div>
        <div class="col-md-3">
            <h2>New Posting</h2>
            <p>Job title:<br /><input id="jobTitle" name="jobTitle" type="text" /><br /></p>
            <p>Contact:<br /><input id="postingContact" name="postingContact" type="text" /><br /></p>
            <p><input id="isPostingActive" type="checkbox" value="Active" /><br /></p>
            <p>Description:<br /><textarea id="jobDescription"></textarea><br /></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Add</a></p>
        </div>
        <div class="col-md-3">
            <h2>New Event</h2>
            <p>Company - Job Title:<br /><input id="eventPosting" name="eventPosting" type="text" /><br /></p>
            <p><input id="requiresAction" type="checkbox" value="Requires Action" /><br /></p>
            <p>Description:<br /><textarea id="jobDescription"></textarea><br /></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Add</a></p>
        </div>
    </div>
