@using System.Web.UI.HtmlControls


<script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        LoadDropdowns()
    });

    function PreloadFirstDropdownOption(id, text)
    {
        var optionhtml1 = '<option value="' +
            0 +
            '">' +
            "--Select " + text + "--" +
            '</option>';
        $("#" + id).append(optionhtml1);
    }

    function PreloadFirstEditDropdownOption(id) {
        var optionhtml1 = '<option value="' +
            0 +
            '">' +
            "--Select--" +
            '</option>';
        $("#" + id).append(optionhtml1);
    }

    function ResetForm() {
        $("input[type=text], textarea").val("");
        $("select").find('option').remove();
        LoadDropdowns();
    }

    function LoadDropdowns() {
        LoadContactTypeDropdown();
        LoadContactCompanyDropdown();
        LoadPostingRecruitingCompanyDropdown();
        LoadRecruiterDropdown();
        LoadHRRepDropdown();
        LoadSrDevDropdown();
        LoadDevDropdown();
        LoadHiringMgrDropdown();
        LoadAcctManagerDropdown();
        LoadCompanyEditDropdown();
        LoadContactEditDropdown();
        LoadPostingCompanyDropdown();
        LoadPostingEditDropdown();
        //LoadEventEditDropdown();
        LoadEventCompanyDropdown();
        LoadEventPostingDropdown();
    }

    function LoadCompanyEditDropdown() {
        PreloadFirstEditDropdownOption("companyEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Company/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#companyEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadContactEditDropdown() {
        PreloadFirstEditDropdownOption("contactEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#contactEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadContactTypeDropdown() {
        PreloadFirstDropdownOption("contactTypeDropdown", "Contact Type");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/ContactType",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#contactTypeDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadContactCompanyDropdown() {
        PreloadFirstDropdownOption("contactCompanyDropdown", "Company");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Company/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].companyId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#contactCompanyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadPostingEditDropdown() {
        PreloadFirstEditDropdownOption("postingEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Posting/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].postingId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#postingEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadPostingCompanyDropdown() {
        PreloadFirstDropdownOption("postingCompanyDropdown", "Company");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Company/Employers",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].companyId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#postingCompanyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadPostingRecruitingCompanyDropdown() {
        PreloadFirstDropdownOption("postingRecruitingCompanyDropdown", "Company");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Company/Recruiters",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].companyId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#postingRecruitingCompanyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadRecruiterDropdown() {
        PreloadFirstDropdownOption("recruiterDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/Recruiter",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#recruiterDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadHRRepDropdown(contactTypeId) {
        PreloadFirstDropdownOption("hrRepDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/HR",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#hrRepDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadSrDevDropdown() {
        PreloadFirstDropdownOption("srDevDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/SR",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#srDevDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadDevDropdown() {
        PreloadFirstDropdownOption("devDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/Developer",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#devDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadHiringMgrDropdown() {
        PreloadFirstDropdownOption("hiringMgrDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/HM",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#hiringMgrDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadAcctManagerDropdown() {
        PreloadFirstDropdownOption("acctManagerDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/AM",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#acctManagerDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadEventEditDropdown() {
        PreloadFirstEditDropdownOption("eventEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Event/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#eventEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadEventCompanyDropdown() {
        PreloadFirstEditDropdownOption("eventCompanyDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Posting/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].postingId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#eventCompanyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadEventPostingDropdown() {
        PreloadFirstEditDropdownOption("eventPostingDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Posting/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].postingId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#eventPostingDropdown").append(optionhtml);
                    });
            }
        });
    }

    function AddNewCompany() {
        var companyName = $("[name='companyName']").val();
        var isEmployer = $("#companyIsEmployer")[0].checked;
        var link = $("[name='companyLink']").val();
        var description = $("#companyDescription").val();
        var dataToPost = {
            CompanyName: companyName,
            IsEmployer: isEmployer,
            Link: link,
            Description: description
        };
        $.ajax({
            type: "POST",
            url: "http://" + "@ViewBag.Host" + "/API/Company",
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function() {
                ResetForm();
            }
        });
    }

    function AddNewContact() {
        var contactName = $("[name='contactName']").val();
        var selectedContactTypeId = $("select#contactTypeDropdown")[0].value;
        var selectedCompanyId = $("select#contactCompanyDropdown")[0].value;
        var contactEmail = $("[name='contactEmail']").val();
        var contactPhone = $("[name='contactPhone']").val();
        var contactNotes = $("#contactNotes").val();
        var dataToPost = {
            ContactName: contactName,
            ContactTypeId: selectedContactTypeId,
            CompanyId: selectedCompanyId,
            Email: contactEmail,
            Phone: contactPhone,
            Notes: contactNotes
        };
        $.ajax({
            type: "POST",
            url: "http://" + "@ViewBag.Host" + "/API/Contact",
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                ResetForm();
            }
        });
    }

    function AddNewPosting() {
        var jobTitle = $("[name='postingJobTitle']").val();
        var selectedCompanyName = $("select#postingCompanyDropdown")[0].selectedOptions[0].text;
        var selectedCompanyId = $("select#postingCompanyDropdown")[0].selectedOptions[0].value;
        var selectedHRRepId = $("select#hrRepDropdown")[0].value;
        var selectedSrDevId = $("select#srDevDropdown")[0].value;
        var selectedDevId = $("select#devDropdown")[0].value;
        var selectedHiringMgrId = $("select#hiringMgrDropdown")[0].value;
        var selectedRecruiterId = $("select#recruiterDropdown")[0].value;
        var selectedAccountMgrId = $("select#acctManagerDropdown")[0].value;
        var isActive = $("#isPostingActive")[0].checked;
        var link = $("[name='postingLink']").val();
        var description = $("[name='jobDescr']").val();
        var dataToPost = {
            Title: jobTitle,
            CompanyName: selectedCompanyName,
            CompanyId: selectedCompanyId,
            HRRepContactId: selectedHRRepId,
            SrDevContactId: selectedSrDevId,
            DevContactId: selectedDevId,
            HiringMgrContactId: selectedHiringMgrId,
            RecruiterContactId: selectedRecruiterId,
            AcctManagerContactId: selectedAccountMgrId,
            IsActive: isActive,
            Link: link,
            Description: description
        };
        $.ajax({
            type: "POST",
            url: "http://" + "@ViewBag.Host" + "/API/Posting",
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                ResetForm();
            }
        });
    }

    function AddNewEvent() {
        var entryDateTime = $("[name='entryDateTime']").val();
        var selectedCompanyId = $("select#eventCompanyDropdown")[0].selectedOptions[0].value;
        var requiresAction = $("#requiresAction")[0].checked;
        var action = $("#eventAction")[0].value;
        var dataToPost = {
            PostingId: selectedCompanyId,
            CompanyId: selectedCompanyId,
            EntryDateTime: entryDateTime,
            IsActionRequired: requiresAction,
            Action: action,
        };
        $.ajax({
            type: "POST",
            url: "http://" + "@ViewBag.Host" + "/API/Event",
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                ResetForm();
            }
        });
    }

    function LoadEventsByPosting() {
        var selectedCompanyId = $("#eventPostingDropdown")[0].selectedOptions[0].value;
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Event/ByPosting/" + selectedCompanyId,
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        // PostingId, CompanyName, Action, IsActionRequired
                        var div1 = document.createElement("div");
                        div1.id = "event-" + i + "-eventId";
                        div1.setAttribute("class", "col-md-1");
                        div1.textContent = data[i].eventId;

                        var div2 = document.createElement("div");
                        div2.id = "event-" + i + "-entryDateTime";
                        div2.setAttribute("class", "col-md-2");
                        div2.textContent = data[i].entryDateTime;

                        var div3 = document.createElement("div");
                        div3.id = "action" + i;
                        div3.setAttribute("class", "col-md-6");
                        div3.textContent = data[i].action;

                        var div4 = document.createElement("div");
                        div4.id = "isActionRequired" + i;
                        div4.setAttribute("class", "col-md-2");
                        div4.textContent = data[i].isActionRequired;
                        document.querySelector("div#eventByPosting").appendChild(div1).appendChild(div2).appendChild(div3).appendChild(div4);
                    });
            }
        });
    }

    function RadioAddSelect(column) {
        document.getElementById(column + "EditDropdown").style.display = "none";
        document.getElementById(column + "EditDropdown").selectedIndex = 0;
        document.getElementById(column + "AddButton").style.display = "inline";
        document.getElementById(column + "EditButton").style.display = "none";
        ColumnDisplay(column, "inline", false);
    }

    function RadioEditSelect(column) {
        document.getElementById(column + "EditDropdown").style.display = "inline";
        document.getElementById(column + "AddButton").style.display = "none";
        document.getElementById(column + "EditButton").style.display = "none";
        ColumnDisplay(column, "none", false);
    }

    function ColumnDisplay(column, display, includingEditButton) {
        $("." + column).each(function(i) {
            $(this).css("display", display)
        });
        if (includingEditButton) {
            document.getElementById(column + "EditButton").style.display = "inline";
        } else {
            document.getElementById(column + "EditButton").style.display = "none";
        }
    }

</script>

<style type="text/css">
    .dropdownStyle {
        height: 26px;
        width: 173px;
        border-color: #A9A9A9;
    }

    .editDropdownStyle {
        height: 26px;
        width: 122px;
        border-color: #A9A9A9;
    }

    label {
        font-weight: normal;
    }
</style>

<input id="postingList" type="hidden" name="postingList" />


<div class="jumbotron">
    <h1>MyJobRepo</h1>
    <p class="lead">An exercise building a .NET Web API / MVC Application</p><br />
    Add the entities, working from left to right. The dropdown lists will repopulate asynchronously.
</div>
<div class="row">
    <div id="companyColumn" class="col-md-3">
        <h2>Company</h2>
        <p><input type="radio" name="companyRadio" value="add" checked="checked" onclick="RadioAddSelect('company')" /> Add</p>
        <p>
            <input type="radio" name="companyRadio" value="edit" onclick="RadioEditSelect('company')" /> Edit &nbsp;
            <select id="companyEditDropdown" class="editDropdownStyle" style="display:none" onchange="ColumnDisplay('company', 'inline', true)"></select>
        </p>
        <p><label class="company">Name:</label><br /><input id="companyName" class="company" name="companyName" type="text" /><br /></p>
        <p><label class="company">Is an employer?</label> &nbsp; <input id="companyIsEmployer" class="company" type="checkbox" /><br /></p>
        <p><label class="company">Link:</label><br /><input id="companyLink" class="company" name="companyLink" type="text" /><br /></p>
        <p><label class="company">Description:</label><br /><textarea id="companyDescription" class="company"></textarea><br /></p>
        <p><button id="companyAddButton" class="btn btn-default" type="submit" onclick="AddNewCompany()">Add</button></p>
        <p><button id="companyEditButton" class="btn btn-default" type="submit" onclick="EditCompany()" style="display: none;">Edit</button></p>
    </div>
    <div id="contactColumn" class="col-md-3">
        <h2>Contact</h2>
        <p>
            <input type="radio" name="contactRadio" value="add" checked="checked" onclick="RadioAddSelect('contact')" /> Add
        </p>
        <p>
            <input type="radio" name="contactRadio" value="edit" onclick="RadioEditSelect('contact')" /> Edit &nbsp;
            <select id="contactEditDropdown" class="editDropdownStyle" style="display:none" onchange="ColumnDisplay('contact', 'inline', true)"></select>
        </p>
        <p><label class="contact">Name:</label><br /><input id="contactName" name="contactName" type="text" class="contact" /><br /></p>
        <p><label class="contact">Type:</label><br /><select id="contactTypeDropdown" class="dropdownStyle contact"></select><br /></p>
        <p><label class="contact">Company:</label><br /><select id="contactCompanyDropdown" class="dropdownStyle contact"></select><br /></p>
        <p><label class="contact">Email:</label><br /><input id="contactEmail" name="contactEmail" type="text" class="contact" /><br /></p>
        <p><label class="contact">Phone:</label><br /><input id="contactPhone" name="contactPhone" type="text" class="contact" /><br /></p>
        <p><label class="contact">Notes:</label><br /><textarea id="contactNotes" class="contact"></textarea><br /></p>
        <p><button id="contactAddButton" class="btn btn-default" type="submit" onclick="AddNewContact()">Add</button></p>
        <p><button id="contactEditButton" class="btn btn-default" type="submit" onclick="EditContact()" style="display: none;">Edit</button></p>
    </div>
    <div id="postingColumn" class="col-md-3">
        <h2>Posting</h2>
        <p>
            <input type="radio" name="postingRadio" value="add" checked="checked" onclick="RadioAddSelect('posting')" /> Add
        </p>
        <p>
            <input type="radio" name="postingRadio" value="edit" onclick="RadioEditSelect('posting')" /> Edit &nbsp;
            <select id="postingEditDropdown" class="editDropdownStyle" style="display:none" onchange="ColumnDisplay('posting', 'inline', true)"></select>
        </p>
        <p><label class="posting">Job title:</label><br /><input id="jobTitle" class="posting" name="postingJobTitle" type="text" /><br /></p>
        <p><label class="posting">Company:</label><br /><select id="postingCompanyDropdown" class="dropdownStyle posting"></select><br /></p>
        <p><label class="posting">Link:</label><br /><input id="postingLink" class="posting" name="postingLink" type="text" /><br /></p>
        <p><label class="posting">HR Representative:</label><br /><select id="hrRepDropdown" class="dropdownStyle posting"></select><br /></p>
        <p><label class="posting">Senior Developer:</label><br /><select id="srDevDropdown" class="dropdownStyle posting"></select><br /></p>
        <p><label class="posting">Developer:</label><br /><select id="devDropdown" class="dropdownStyle posting"></select><br /></p>
        <p><label class="posting">Hiring Manager:</label><br /><select id="hiringMgrDropdown" class="dropdownStyle posting"></select><br /></p>
    </div>
    <div class="col-md-3">
        <h2>&nbsp;</h2>
        <p><label class="posting">Active:</label> &nbsp; <input id="isPostingActive" name="isPostingActive" class="posting" type="checkbox" value="Active" /><br /><br /></p>
        <p><label class="posting">Recruiting Company:</label><br /><select id="postingRecruitingCompanyDropdown" class="dropdownStyle posting"></select><br /></p>
        <p><label class="posting">Recruiter:</label><br /><select id="recruiterDropdown" class="dropdownStyle posting"></select><br /></p>
        <p><label class="posting">Acct. Manager:</label><br /><select id="acctManagerDropdown" class="dropdownStyle posting"></select><br /></p>
        <p><label class="posting">Description:</label><br /><textarea id="jobDescr" name="jobDescr" class="posting"></textarea><br /></p>
        <p><button id="postingAddButton" class="btn btn-default" type="submit" onclick="AddNewPosting()">Add</button></p>
        <p><button id="postingEditButton" class="btn btn-default" type="submit" onclick="EditPosting()" style="display: none;">Edit</button></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <h2>Event</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <p><label class="event">Company:</label><br /><select id="eventCompanyDropdown" class="dropdownStyle"></select></p>
    </div>
    <div class="col-md-3">
        <p><label class="event">EntryDateTime:</label><br /><input id="entryDateTime" name="entryDateTime" type="date" /><br /></p>
    </div>
    <div class="col-md-3">
        <p><label class="event">Event:</label><br /><textarea id="eventAction"></textarea><br /></p>
    </div>
    <div class="col-md-3">
        <p><label class="event">Action is required: </label><input id="requiresAction" type="checkbox" /></p>
        <p>
            <button id="eventAddButton" class="btn btn-default" type="submit" onclick="AddNewEvent()">Add</button>
            <button id="eventEditButton" class="btn btn-default" type="submit" onclick="EditEvent()" style="display: none;">Edit</button>
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6">
        <h2>Events by Posting</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label class="event">Company:</label><br /><select id="eventPostingDropdown" class="dropdownStyle" onchange="LoadEventsByPosting()"></select><br />
    </div>
</div>
<div class="row">&nbsp;</div>
<div class="row">
    <div class="col-md-1">Event Id</div>
    <div class="col-md-2">Entry Date</div>
    <div class="col-md-6">Event</div>
    <div class="col-md-2">Action required?</div>
</div>
<div id="eventByPosting" class="row">
</div>

<script type="text/javascript">
</script>


