
@model MyJobRepo.Models.MyJobRepo_Resources

<script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    function PreloadFirstDropdownOption(id, text)
    {
        var optionhtml1 = '<option value="' +
            0 +
            '">' +
            "--Select " + text + "--" +
            '</option>';
        $("#" + id).append(optionhtml1);
    }

    function ResetForm() {
        $("input[type=text], textarea").val("");
        $("select").find('option').remove();
        LoadContactTypeDropdown();
        LoadCompanyDropdown();
        LoadRecruiterDropdown();
        LoadHRRepDropdown();
        LoadSrDevDropdown();
        LoadDevDropdown();
        LoadHiringMgrDropdown();
        LoadAcctManagerrDropdown();
    }

    function LoadContactTypeDropdown() {
        PreloadFirstDropdownOption("contactTypeDropdown", "Contact Type");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/ContactType',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#contactTypeDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadCompanyDropdown() {
        PreloadFirstDropdownOption("contactCompanyDropdown", "Company");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Company',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#contactCompanyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadRecruiterDropdown() {
        PreloadFirstDropdownOption("recruiterDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Contact/ByType/Recruiter',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#recruiterDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadHRRepDropdown() {
        PreloadFirstDropdownOption("hrRepDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Contact/ByType/HR',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#hrRepDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadSrDevDropdown() {
        PreloadFirstDropdownOption("srDevDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Contact/ByType/SR',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#srDevDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadDevDropdown() {
        PreloadFirstDropdownOption("devDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Contact/ByType/Developer',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#devDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadHiringMgrDropdown() {
        PreloadFirstDropdownOption("hiringMgrDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Contact/ByType/HM',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#hiringMgrDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadAcctManagerrDropdown() {
        PreloadFirstDropdownOption("acctManagerDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: 'http://' + '@ViewBag.Host' + '/API/Contact/ByType/AM',
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#acctManagerDropdown").append(optionhtml);
                    });
            }
        });
    }

    function AddNewCompany() {
        var name = $("[name='companyName']").val();
        var link = $("[name='companyLink']").val();
        var description = $("#companyDescription").val();
        var dataToPost = {
            Name: name,
            Link: link,
            Description: description
        };
        $.ajax({
            type: "POST",
            url: 'http://@ViewBag.Host/API/Company',
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                ResetForm();
            }
        });
    }

    function AddNewContact() {
        var name = $("[name='contactName']").val();
        var selectedContactTypeId = $("select#contactTypeDropdown")[0].selectedIndex;
        var selectedCompanyId = $("select#contactCompanyDropdown")[0].selectedIndex;
        var contactEmail = $("[name='contactEmail']").val();
        var contactPhone = $("[name='contactPhone']").val();
        var contactNotes = $("#contactNotes").val();
        var dataToPost = {
            Name: name,
            ContactTypeId: selectedContactTypeId,
            CompanyId: selectedCompanyId,
            Email: contactEmail,
            Phone: contactPhone,
            Notes: contactNotes
        };
        $.ajax({
            type: "POST",
            url: 'http://@ViewBag.Host/API/Contact',
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                ResetForm();
            }
        });
    }

    $(document).ready(function () {
        LoadContactTypeDropdown();
        LoadCompanyDropdown();
        LoadRecruiterDropdown();
    });


</script>

<style type="text/css">
    .dropdownStyle {
        height: 26px;
        width: 173px;
        border-color: #A9A9A9;
    }
</style>
    <div class="jumbotron">
        <h1>MyJobRepo</h1>
        <p class="lead">An exercise in developing a .NET Web API Application</p><br />
        Working from left to right, add the entities. As they are added, dropdown lists will repopulate asynchronously.
    </div>
    <div class="row">
        <div class="col-md-3">
            <h2>New Company</h2>
                <p>Name:<br /><input id="companyName" name="companyName" type="text" /><br /></p>
                <p>Link:<br /><input id="companyLink" name="companyLink" type="text" /><br /></p>
                <p>Description:<br /><textarea id="companyDescription"></textarea><br /></p>
                <p><button class="btn btn-default" type="submit" onclick="AddNewCompany()">Add</button></p>
            </div>
        <div id="AjaxResponse"></div>
        <div class="col-md-3">
            <h2>New Contact</h2>
                <p>Name:<br /><input id="contactName" name="contactName" type="text" /><br /></p>
                <p>Type:<br /><select id="contactTypeDropdown" class="dropdownStyle"></select><br /></p>
                <p>Company:<br /><select id="contactCompanyDropdown" class="dropdownStyle"></select><br /></p>
                <p>Email:<br /><input id="contactEmail" name="contactEmail" type="text" /><br /></p>
                <p>Phone:<br /><input id="contactPhone" name="contactPhone" type="text" /><br /></p>
                <p>Notes:<br /><textarea id="contactNotes"></textarea><br /></p>
                <p><button class="btn btn-default" type="submit" onclick="AddNewContact()">Add</button></p>
        </div>
        <div class="col-md-3">
            <h2>New Posting</h2>
            <p>Job title:<br /><input id="jobTitle" name="postingJobTitle" type="text" /><br /></p>
            <p>Company:<br /><input id="postingCompany" name="postingCompany" type="text" /><br /></p>
            <p>HR Representative:<br /><select id="hrRepDropdown" class="dropdownStyle"></select><br /></p>
            <p>Senior Developer:<br /><select id="srDevDropdown" class="dropdownStyle"></select><br /></p>
            <p>Developer:<br /><select id="devDropdown" class="dropdownStyle"></select><br /></p>
            <p>Hiring Manager:<br /><select id="hiringMgrDropdown" class="dropdownStyle"></select><br /></p>
            <p><input id="isPostingActive" type="checkbox" value="Active" /><br /></p>
            <p>Description:<br /><textarea id="jobDescr"></textarea><br /></p>
            <p>Recruiting Company:<br /><label id="recruitingCompany" /><br /></p>
            <p>Recruiter:<br /><select id="recruiterDropdown" class="dropdownStyle"></select><br /></p>
            <p>Acct. Manager:<br /><select id="acctManagerDropdown" class="dropdownStyle"></select><br /></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Add</a></p>
        </div>
        <div class="col-md-3">
            <h2>New Event</h2>
            <p>Company - Job Title:<br /><input id="eventPosting" name="eventPosting" type="text" /><br /></p>
            <p><input id="requiresAction" type="checkbox" value="Requires Action" /><br /></p>
            <p>Description:<br /><textarea id="jobDescription"></textarea><br /></p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Add</a></p>
        </div>
    </div>
