
@model MyJobRepo.Models.MyJobRepo_Resources

<script type="text/javascript" src="../../Scripts/jquery-3.3.1.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        LoadDropdowns()
    });

    function PreloadFirstDropdownOption(id, text)
    {
        var optionhtml1 = '<option value="' +
            0 +
            '">' +
            "--Select " + text + "--" +
            '</option>';
        $("#" + id).append(optionhtml1);
    }

    function PreloadFirstEditDropdownOption(id) {
        var optionhtml1 = '<option value="' +
            0 +
            '">' +
            "--Select--" +
            '</option>';
        $("#" + id).append(optionhtml1);
    }

    function ResetForm() {
        $("input[type=text], textarea").val("");
        $("select").find('option').remove();
        LoadDropdowns();
    }

    function LoadDropdowns() {
        LoadContactTypeDropdown();
        LoadContactCompanyDropdown();
        LoadRecruiterDropdown();
        LoadHRRepDropdown();
        LoadSrDevDropdown();
        LoadDevDropdown();
        LoadHiringMgrDropdown();
        LoadAcctManagerDropdown();
        LoadCompanyEditDropdown();
        LoadContactEditDropdown();
        LoadPostingCompanyDropdown();
        LoadPostingEditDropdown();
        LoadEventEditDropdown();
        LoadEventAddDropdown();
        LoadEventPostingDropdown();
    }

    function LoadCompanyEditDropdown() {
        PreloadFirstEditDropdownOption("companyEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Company",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#companyEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadContactEditDropdown() {
        PreloadFirstEditDropdownOption("contactEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#contactTypeDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadContactTypeDropdown() {
        PreloadFirstDropdownOption("contactTypeDropdown", "Contact Type");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/ContactType",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#contactTypeDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadContactCompanyDropdown() {
        PreloadFirstDropdownOption("contactCompanyDropdown", "Company");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Company",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].companyId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#contactCompanyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadPostingEditDropdown() {
        PreloadFirstEditDropdownOption("postingEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Posting",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#postingEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadPostingCompanyDropdown() {
        PreloadFirstDropdownOption("postingCompanyDropdown", "Company");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Company",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].companyId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#postingCompanyDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadRecruiterDropdown() {
        PreloadFirstDropdownOption("recruiterDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/Recruiter",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#recruiterDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadHRRepDropdown(contactTypeId) {
        PreloadFirstDropdownOption("hrRepDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/HR",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#hrRepDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadSrDevDropdown() {
        PreloadFirstDropdownOption("srDevDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/SR",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#srDevDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadDevDropdown() {
        PreloadFirstDropdownOption("devDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/Developer",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#devDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadHiringMgrDropdown() {
        PreloadFirstDropdownOption("hiringMgrDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/HM",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#hiringMgrDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadAcctManagerDropdown() {
        PreloadFirstDropdownOption("acctManagerDropdown", "Contact");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Contact/ByType/AM",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactId +
                            '">' +
                            data[i].contactName +
                            '</option>';
                        $("#acctManagerDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadEventEditDropdown() {
        PreloadFirstEditDropdownOption("eventEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Event",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].contactTypeId +
                            '">' +
                            data[i].name +
                            '</option>';
                        $("#eventEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadEventAddDropdown() {
        PreloadFirstEditDropdownOption("eventEditDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Posting/ForEventDropdown",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].companyId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#eventEditDropdown").append(optionhtml);
                    });
            }
        });
    }

    function LoadEventPostingDropdown() {
        PreloadFirstEditDropdownOption("eventPostingDropdown");
        $.ajax({
            type: "GET",
            url: "http://" + "@ViewBag.Host" + "/API/Posting/All",
            contentType: "application/json; charset=utf-8",
            async: true,
            success: function(data) {
                $.each(data,
                    function(i) {
                        var optionhtml = '<option value="' +
                            data[i].postingId +
                            '">' +
                            data[i].companyName +
                            '</option>';
                        $("#eventPostingDropdown").append(optionhtml);
                    });
            }
        });
    }

    function AddNewCompany() {
        var companyName = $("[name='companyName']").val();
        var link = $("[name='companyLink']").val();
        var description = $("#companyDescription").val();
        var dataToPost = {
            CompanyName: companyName,
            Link: link,
            Description: description
        };
        $.ajax({
            type: "POST",
            url: "http://" + "@ViewBag.Host" + "/API/Company",
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function() {
                ResetForm();
            }
        });
    }

    function AddNewContact() {
        var contactName = $("[name='contactName']").val();
        var selectedContactTypeId = $("select#contactTypeDropdown")[0].value;
        var selectedCompanyId = $("select#contactCompanyDropdown")[0].value;
        var contactEmail = $("[name='contactEmail']").val();
        var contactPhone = $("[name='contactPhone']").val();
        var contactNotes = $("#contactNotes").val();
        var dataToPost = {
            ContactName: contactName,
            ContactTypeId: selectedContactTypeId,
            CompanyId: selectedCompanyId,
            Email: contactEmail,
            Phone: contactPhone,
            Notes: contactNotes
        };
        $.ajax({
            type: "POST",
            url: "http://" + "@ViewBag.Host" + "/API/Contact",
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                ResetForm();
            }
        });
    }

    function AddNewPosting() {
        var jobTitle = $("[name='postingJobTitle']").val();
        var selectedCompanyName = $("select#postingCompanyDropdown")[0].selectedOptions[0].text;
        var selectedHRRepId = $("select#hrRepDropdown")[0].value;
        var selectedSrDevId = $("select#srDevDropdown")[0].value;
        var selectedDevId = $("select#devDropdown")[0].value;
        var selectedHiringMgrId = $("select#hiringMgrDropdown")[0].value;
        var selectedRecruiterId = $("select#recruiterDropdown")[0].value;
        var selectedAccountMgrId = $("select#acctManagerDropdown")[0].value;
        var isActive = $("#isPostingActive")[0].checked;
        var link = $("[name='postingLink']").val();
        var description = $("[name='jobDescr']").val();
        var dataToPost = {
            Title: jobTitle,
            CompanyName: selectedCompanyName,
            HRRepContactId: selectedHRRepId,
            SrDevContactId: selectedSrDevId,
            DevContactId: selectedDevId,
            HiringMgrContactId: selectedHiringMgrId,
            RecruiterContactId: selectedRecruiterId,
            AcctManagerContactId: selectedAccountMgrId,
            IsActive: isActive,
            Link: link,
            Description: description
        };
        $.ajax({
            type: "POST",
            url: "http://" + "@ViewBag.Host" + "/API/Posting",
            contentType: 'application/json',
            async: true,
            data: JSON.stringify(dataToPost),
            complete: function () {
                ResetForm();
            }
        });
    }

    function RadioAdd(dropdownId, addButtonId, editButtonId, column) {
        document.getElementById(dropdownId).disabled = true;
        document.getElementById(dropdownId).selectedIndex = 0;
        document.getElementById(addButtonId).style.display = "inline";
        document.getElementById(editButtonId).style.display = "none";
        ExposeColumn(column);
    }

    function RadioEdit(dropdownId, addButtonId, editButtonId, column) {
        document.getElementById(dropdownId).disabled = false;
        document.getElementById(addButtonId).style.display = "none";
        document.getElementById(editButtonId).style.display = "inline";
        document.getElementById(column).style.display = "none";
    }

    function ExposeColumn(column) {
        document.getElementById(column).style.display = "inline";
    }

</script>

<style type="text/css">
    .dropdownStyle {
        height: 26px;
        width: 173px;
        border-color: #A9A9A9;
        }
    .editDropdownStyle {
        height: 26px;
        width: 122px;
        border-color: #A9A9A9;
    }
    label {
        font-weight: normal;
    }
</style>
<div class="jumbotron">
    <h1>MyJobRepo</h1>
    <p class="lead">An exercise in developing a .NET Web API Application</p><br />
    Add the entities, working from left to right. The dropdown lists will repopulate asynchronously.
</div>
    <div class="row">
        <div id="companyColumn" class="col-md-3">
            <h2>Company</h2>
            <p><input type="radio" name="companyRadio" value="add" checked="checked" onclick="RadioAdd('companyEditDropdown', 'companyAddButton', 'companyEditButton', 'company')" /> Add</p>
            <p>
                <input type="radio" name="companyRadio" value="edit" onclick="RadioEdit('companyEditDropdown','companyAddButton', 'companyEditButton', 'company')" /> Edit &nbsp;
                <select id="companyEditDropdown" class="editDropdownStyle" disabled="disabled" onchange="ExposeColumn('company')"></select>
            </p>
            <div id="company">
                <p>Name:<br /><input id="companyName" name="companyName" type="text" /><br /></p>
                <p>Link:<br /><input id="companyLink" name="companyLink" type="text" /><br /></p>
                <p>Description:><br /><textarea id="companyDescription"></textarea><br /></p>
                <p><button id="companyAddButton" class="btn btn-default" type="submit" onclick="AddNewCompany()">Add</button></p>
                <p><button id="companyEditButton" class="btn btn-default" type="submit" onclick="EditCompany()" style="display: none;">Edit</button></p>
            </div>
        </div>
        <div id="contactColumn" class="col-md-3">
            <h2>Contact</h2>
            <p>
                <input type="radio" name="contactRadio" value="add" checked="checked" onclick="RadioAdd('contactEditDropdown', 'contactAddButton', 'contactEditButton', 'contact')" /> Add
            </p>
            <p>
                <input type="radio" name="contactRadio" value="edit" onclick="RadioEdit('contactEditDropdown', 'contactAddButton', 'contactEditButton', 'contact')" /> Edit &nbsp;
                <select id="contactEditDropdown" class="editDropdownStyle" disabled="disabled"></select>
            </p>
            <p><label class="contact">Name:</label><br /><input id="contactName" name="contactName" type="text" class="contact" /><br /></p>
            <p><label class="contact">Type:</label><br /><select id="contactTypeDropdown" class="dropdownStyle contact"></select><br /></p>
            <p><label class="contact">Company:</label><br /><select id="contactCompanyDropdown" class="dropdownStyle contact"></select><br /></p>
            <p><label class="contact">Email:</label><br /><input id="contactEmail" name="contactEmail" type="text" class="contact" /><br /></p>
            <p><label class="contact">Phone:</label><br /><input id="contactPhone" name="contactPhone" type="text" class="contact" /><br /></p>
            <p><label class="contact">Notes:</label><br /><textarea id="contactNotes" class="contact"></textarea><br /></p>
            <p><button id="contactAddButton" class="btn btn-default" type="submit" onclick="AddNewContact()">Add</button></p>
            <p><button id="contactEditButton" class="btn btn-default contact" type="submit" onclick="EditContact()" style="display: none;">Edit</button></p>
        </div>
        <div id="postingColumn" class="col-md-3">
            <h2>Opportunity</h2>
            <p>
                <input type="radio" name="postingRadio" value="add" checked="checked" onclick="RadioAdd('postingEditDropdown', 'postingAddButton', 'postingEditButton', 'posting')" /> Add
            </p>
            <p>
                <input type="radio" name="postingRadio" value="edit" onclick="RadioEdit('postingEditDropdown', 'postingAddButton', 'postingEditButton', 'posting')" /> Edit &nbsp;
                <select id="postingEditDropdown" class="editDropdownStyle" disabled="disabled"></select>
            </p>
            <p>Job title:<br /><input id="jobTitle" name="postingJobTitle" type="text" /><br /></p>
            <p>Company:<br /><select id="postingCompanyDropdown" class="dropdownStyle contact"></select><br /></p>
            <p>Link:<br /><input id="postingLink" name="postingLink" type="text" /><br /></p>
            <p>HR Representative:<br /><select id="hrRepDropdown" class="dropdownStyle"></select><br /></p>
            <p>Senior Developer:<br /><select id="srDevDropdown" class="dropdownStyle"></select><br /></p>
            <p>Developer:<br /><select id="devDropdown" class="dropdownStyle"></select><br /></p>
            <p>Hiring Manager:<br /><select id="hiringMgrDropdown" class="dropdownStyle"></select><br /></p>
        </div>
        <div class="col-md-3">
            <h2>&nbsp;</h2>
            <p>Active: <input id="isPostingActive" name="isPostingActive" type="checkbox" value="Active" /><br /><br /></p>
            <p>Recruiting Company:<br /><label id="recruitingCompany" /><br /></p>
            <p>Recruiter:<br /><select id="recruiterDropdown" class="dropdownStyle"></select><br /></p>
            <p>Acct. Manager:<br /><select id="acctManagerDropdown" class="dropdownStyle"></select><br /></p>
            <p>Description:<br /><textarea id="jobDescr" name="jobDescr"></textarea><br /></p>
            <p><button id="postingAddButton" class="btn btn-default" type="submit" onclick="AddNewPosting()">Add</button></p>
            <p><button id="postingEditButton" class="btn btn-default" type="submit" onclick="EditPosting()" style="display: none;">Edit</button></p>
        </div>
    </div>
    <div class="row">
        <div id="eventColumn" class="col-md-3">
            <h2>Event</h2>
            <p>
                <input type="radio" name="eventRadio" value="add" checked="checked" onclick="RadioAdd('eventEditDropdown', 'eventAddButton', 'eventEditButton', 'event')" /> Add
                <select id="eventAddDropdown" class="editDropdownStyle"></select>
            </p>
            <p>
                <input type="radio" name="eventRadio" value="edit" onclick="RadioEdit('eventEditDropdown', 'eventAddButton', 'eventEditButton', 'event')" /> Edit &nbsp;
                <select id="eventEditDropdown" class="editDropdownStyle" disabled="disabled"></select>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <p>Date:<br /><input id="eventDate" name="eventPosting" type="date" /><br /></p>
        </div>
        <div class="col-md-3">
            <p>Posting:<br /><select id="eventPostingDropdown" class="dropdownStyle"></select><br /></p>
        </div>
        <div class="col-md-3">
            <p>Action:<br /><textarea id="jobDescription"></textarea><br /></p>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Action is required: <input id="requiresAction" type="checkbox" /><br /></p>
                <p><button id="eventAddButton" class="btn btn-default" type="submit" onclick="AddNewEvent()">Add</button></p>
                <p><button id="eventEditButton" class="btn btn-default" type="submit" onclick="EditEvent()" style="display: none;">Edit</button></p>
            </div>
        </div>
    </div>
